"*":
  "atom-beautify":
    general:
      _analyticsUserId: "57994201-e9b5-4106-b585-613de13ead23"
      beautifyEntireFileOnSave: false
    handlebars:
      beautify_on_save: true
      indent_size: 2
    js:
      indent_size: 2
    mustache:
      indent_inner_html: true
      indent_size: 2
      wrap_attributes_indent_size: 2
      wrap_line_length: 120
    perl: {}
  "atom-material-ui":
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
  "choose-pane":
    labelChars: "1234567890ABC"
  core:
    closeEmptyWindows: false
    customFileTypes:
      "text.html.mustache": [
        "template"
      ]
    disabledPackages: [
      "linter-perl"
      "php-debug"
      "cursor-history"
      "indent-guide-improved"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "vendor"
    ]
    telemetryConsent: "limited"
  "cursor-history":
    flashOnLand: true
  editor:
    invisibles:
      eol: ""
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "f709dd55-9c7c-622c-61f5-304889e35ed2"
  "git-plus":
    general:
      _analyticsUserId: "55d62d8c-0f2c-4753-84d8-fe7827c4b60f"
  linter: {}
  "linter-eslint":
    useGlobalEslint: true
  "linter-perl":
    incPathsFromProjectRoot: [
      "."
      "lib"
      "ePages-Cartridges"
    ]
  "linter-ui-default":
    panelHeight: 132
  "local-history":
    difftoolCommand: "ksdiff \"{current-file}\" \"{revision-file}\""
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "markdown-writer": {}
  "prettier-atom":
    formatOnSave: true
    formatOnSaveOptions:
      enabled: true
      scopes: [
        "source.js"
        "source.jsx"
        "source.js.jsx"
        "source.babel"
        "source.js-semantic"
        "text.html.vue"
      ]
    prettierOptions:
      jsxBracketSameLine: true
      singleQuote: true
  "split-diff":
    syncHorizontalScroll: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    highlightSearch: true
    ignoreCaseForSearch: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1493361586
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    tabLength: 4
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".diff":
  editor:
    autoIndent: true
    showIndentGuide: true
    tabLength: 4
".diff.source":
  editor:
    tabLength: 2
".narrow.source":
  editor:
    tabLength: 4
